[submodule "frontend"]
	path = frontend
	url = https://github.com/jay-kumar-yadav/SpecForge-frontend.git
[submodule "server"]
	path = server
	url = https://github.com/jay-kumar-yadav/SpecForge-backend.git
